# Distribution / packaging
.Python
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.vscode
pseudotest_env/
__pycache__
db.sqlite3
.pytest_cache
.DS_Store

crash
*.pdc

static

mysql-data

# Serverless directories
.serverless
.requirements
node_modules